.header {
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.logo {
  background: url("../images/logo_symbol.png") no-repeat left center;
  background-size: 32px 24px;
  padding-left: 40px;
}
.logo span {
  display: inline-block;
  position: relative;
}
.logo span::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #ffbe32;
}
.btn_toggle_snb {
  width: 40px;
  height: 40px;
  border: none;
  font-size: 2rem;
  line-height: 2rem;
  color: #202020;
  background-color: transparent;
}

.search {
  position: relative;
  padding-top: 62%;
  margin-bottom: 2.4rem;
  background-image: url("../images/search_bg.jpg");
  background-size: cover;
}
.search > div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}
.search .contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.search .title {
  margin-bottom: 2.4rem;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.search .input-group {
  width: 100%;
  margin: 0 4rem 1.6rem;
  overflow: hidden;
}
.search .form-control {
  border-color: #ff0014;
  border-right: none;
  border-radius: 20px 0 0 20px !important;
}
.search .input-group-btn .btn {
  padding: 3px 12px 7px;
  border-radius: 0 20px 20px 0;
  border-color: #ff0014;
  font-size: 1.6rem;
  color: #ff0014;
}

.search .hashTag li {
  display: inline-block;
}
.search .hashTag a {
  margin: 8px 4px;
  padding: 8px 4px;
  color: #fff;
}

.map {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.map .mapArea {
  position: relative;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  padding-top: 50%;
  background-image: url("../images/map.png");
  background-size: cover;
  background-position: center;
  border: 1px solid #ddd;
  overflow: hidden;
}
.map .mapArea .pointer,
.map .mapArea .userPointer {
  position: absolute;
  color: #fff;
  overflow: hidden;
  z-index: 9999;
}
.map .mapArea .pointer {
  top: 50%;
  right: 50%;
  width: 40px;
  height: 46px;
  padding-top: 46px;
  background-image: url("../images/icon_pointer.png");
  background-repeat: no-repeat;
}
.map .mapArea .userPointer {
  top: 70%;
  right: 70%;
  width: 32px;
  padding: 3px 0 5px;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  border-radius: 16px;
  background-color: #ffbe32;
}

.restaurant > div:first-child {
  display: flex;
  justify-content: flex-end;
}
.restaurant .btn-ghost {
  position: relative;
  display: inline-block;
  padding-right: 4px;
}
.restaurant .btn-ghost > i {
  font-size: 1.6rem;
  color: #bbb;
}
.restaurant .btn-ghost.active > i {
  color: #ff0014;
}
.restaurant .btn-ghost > i.fa-arrows-h {
  position: absolute;
  top: 11px;
  left: 14px;
  font-size: 1.2rem;
  color: #fff;
}
.restaurant .restaurantList {
  margin-top: 0.8rem;
}
.restaurant .restaurantList li {
  margin-bottom: 1.6rem;
}
.restaurant .thumb {
  position: relative;
  margin-bottom: 8px;
  padding-top: 64%;
  overflow: hidden;
}
.restaurant .thumb img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
}

.footer {
  margin-top: 2.8rem;
  padding: 2.4rem;
  text-align: center;
  background-color: #f6f6f6;
}
.footer ul {
  margin-top: 1.6rem;
}
.footer li {
  display: inline-block;
}
.footer li span {
  font-weight: 700;
}
.footer .tel::after {
  content: "/";
  margin-left: 5px;
  margin-right: 3px;
}
.footer p {
  font-weight: 700;
}
